h1 {
    color: #093c60;
    margin: 2.2rem 0;
    font-size: 2rem;
}

h2 {
    color: #093c60;
    margin-top: 0;
    font-size: 1.75rem;
}

.blog-post {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5rem;
    margin-bottom: 48px;
}

.blog-post:last-of-type {
    margin-bottom: 2rem;
}

.blog-post img {
    margin: auto 5% auto 0;
    width: 20rem;
}

.blog-text {
    max-width: 40.625rem;
    width: 100%;
}

.blog-text p {
    font-size: 1.1rem;
}

/* Custom for switching template direction */
@media screen and (max-width: 930px) {
    .blog-post {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-gap: 2rem;
    }

    .blog-post:not(:last-of-type) {
        margin-bottom: 6rem;
    }
}
