.dogs-title {
    width: 100%;
    color: #093c60;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.homepage-dogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.25rem;
}