/* Main Content */
h1 {
  color: #093c60;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.home-page {
    width: 70vw;
}

.homepage-intro {
    margin: 2rem 0;
}

.homepage-intro img {
    margin: auto 0;
    max-width: 100%;
}

.intro-text {
    color: #3d3d3d;
    font-size: 1.25rem;
}

.more-btn-wrapper {
    margin-top: 1.5rem;
}

.more-btn {
    color: #093c60;
    background-color: #ececec;
    text-decoration: none;
    font-weight: bolder;
    padding: 0.75rem 3rem;
}

.dog-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto auto;
    justify-content: space-between;
    grid-gap: 3rem;
}

.dog {
    width: 100%;
}

/* Blog Posts */
.blog-preview {
    width: 30vw;
    padding-top: 1rem;
    padding-left: 3rem;
}

.blog-preview h2 {
    color: #093c60;
    font-size: 1.75rem;
}

.blog-preview img {
    width: 100%;
}

/* Screen Sizes */

/* Small (Phones) */
@media screen and (max-width: 768px) {
    .blog-preview {
        display: none;
    }

    .dog-list {
        grid-template-columns: auto;
    }
}

/* Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .dog-list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}