/* -=-=-=-=-=-=-=-= Main Content =-=-=-=-=-=-=-=- */
h1 {
  color: #093c60;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.home-page {
    width: 70vw;
}

.homepage-intro {
    margin: 2rem 0;
}

.homepage-intro img {
    margin: auto 0;
    max-width: 100%;
<<<<<<< HEAD
=======
}

.spacer {
    width: 5%;
>>>>>>> master
}

.intro-text {
    color: #3d3d3d;
    font-size: 1.5rem;
}

.intro-text p {
    margin-top: 0.75rem;
}

.more-btn-wrapper {
    margin-top: 1.75rem;
}

.more-btn {
    color: #093c60;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    background-color: #ececec;
    padding: 0.8rem 4rem;
    border-radius: 5px;
}

.dog-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto auto;
    justify-content: space-between;
    grid-gap: 3rem;
    row-gap: 0.5rem;
}

.dog {
    width: 100%;
    margin-bottom: 1rem;
}

/* -=-=-=-=-=-=-=-= Blog Posts =-=-=-=-=-=-=-=- */
.blog-preview {
    width: 30vw;
    padding-top: 1rem;
    padding-left: 3rem;
}

.blog-preview article:not(:first-of-type) {
    margin-top: 6rem;
}

.blog-preview h2 {
    color: #093c60;
    font-size: 2rem;
}

.blog-preview img {
    width: 100%;
    margin-bottom: 0;
}

.blog-preview h3 {
    color: #093c60;
    font-size: 1.75rem;
    margin: 0.5rem 0;
}

.blog-preview p {
    color: #3d3d3d;
    font-size: 1.3rem;
    margin: 0.5rem 0 1.25rem;
}

.blog-preview a {
    text-decoration: none;
}

.read-more {
    color: #239ab9;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 5.25rem;
}

/* -=-=-=-=-=-=-= Screen Sizes =-=-=-=-=-=-=- */

/* Small (Phones) */
@media screen and (max-width: 768px) {
    .blog-preview {
        display: none;
    }

    .dog-list {
        grid-template-columns: auto;
    }

    .more-btn {
        font-size: 1.25rem;
    }
}

/* Tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .dog-list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}